<mat-expansion-panel *ngIf="todo_list.length > 0">
  <mat-expansion-panel-header>
    <mat-panel-title style="font-size:25px; color: blue; font-family:candara; ">
      Your Todolist Items
    </mat-panel-title>
    <mat-panel-description style="font-size:25px; color: blue; font-family:candara; ">
      Click to Expand
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-list>
    <mat-list-item style="font-size:20px; color:salmon; font-family:candara; "*ngFor="let entry of todo_list; let i = index"> {{ i+1 }}. {{ entry.title }} </mat-list-item>
  </mat-list>
</mat-expansion-panel>